body {
  font-family: Arial, sans-serif;
  margin: 40px;
  background: #f9f9f9;
  color: #333;
}

h1 {
  text-align: center;
  color: #0066cc;
}

section {
  margin-bottom: 50px;
}

h2 {
  color: #333;
  margin-bottom: 5px;
}

p {
  font-size: 14px;
  margin-bottom: 15px;
}

#lineChart {
  display: flex;
  justify-content: center;
}